<div class="admin-grid">
  <div class="form-group">
    <label class="form-label" for="<%= prefix %>-order">Display order</label>
    <input class="form-input" id="<%= prefix %>-order" name="display_order" type="number"
           min="0" max="100000" value="<%= milestone.display_order %>" required />
  </div>
  <div class="form-group">
    <label class="form-label" for="<%= prefix %>-date">Date label</label>
    <input class="form-input" id="<%= prefix %>-date" name="date" maxlength="100"
           value="<%= milestone.date %>" required />
  </div>
  <div class="form-group">
    <label class="form-label" for="<%= prefix %>-title">Title</label>
    <input class="form-input" id="<%= prefix %>-title" name="title" maxlength="150"
           value="<%= milestone.title %>" required />
  </div>
  <div class="form-group">
    <label class="form-label" for="<%= prefix %>-emoji">Emoji</label>
    <input class="form-input" id="<%= prefix %>-emoji" name="emoji" maxlength="32"
           value="<%= milestone.emoji %>" required />
  </div>
  <div class="form-group admin-grid__wide">
    <label class="form-label" for="<%= prefix %>-description">Description</label>
    <textarea class="form-textarea" id="<%= prefix %>-description" name="description"
              maxlength="2000" required><%= milestone.description %></textarea>
  </div>
  <div class="form-group">
    <label class="form-label" for="<%= prefix %>-photo">Image path</label>
    <input class="form-input" id="<%= prefix %>-photo" name="photo" maxlength="255"
           placeholder="images/memory.jpg" value="<%= milestone.photo || '' %>" />
  </div>
  <div class="form-group">
    <label class="form-label" for="<%= prefix %>-url">Optional URL</label>
    <input class="form-input" id="<%= prefix %>-url" name="link_url" type="url"
           maxlength="1000" value="<%= milestone.link_url || '' %>" />
  </div>
</div>
